*~

__TRASH__
du.log
review.json

doom
doom-emacs

elpa/
straight/

tree-sitter/

# ????

doc/vscode-colors.jsonc
examples/
files-for-test/
lisp/__unused__/completion.el
themes/doom-one-theme.el
themes/doom-themes
toto.py
